{% extends 'layout/main.html' %}
{% load static %}


{% block main %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url({% static 'img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Services</h2>
              <p>
                We are an online service that provides fast, affordable and convenient shipping. 
                A variety of orders can be sent from our website to almost any destination in the world.
                 Our packages may be delivered directly to your home or business along with personalized notes for your package.
                  We offer free shipping on all orders!,
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
        <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
        <div>
          <h4 class="title">We are the best</h4>
          <p class="description">We a proven record and statistics, we have shown that almost all of the delivery services 100%</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
        <div>
          <h4 class="title">We deliver</h4>
          <p class="description">
            We deliver on time without delay, for we have one policy and we will never break it.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
        <div>
          <h4 class="title">We are always careful</h4>
          <p class="description">
            For us to be not carefully handling our customers is a taboo and that should never be tolerated.
          </p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Featured Services Section -->

<!-- ======= Services Section ======= -->
<section id="service" class="services pt-0">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <span>Our Services</span>
      <h2>Our Services</h2>
    </div>

    <div class="row gy-4">

      {% for item in service %}
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <div class="card-img">
            <img src="{{ item.image.url }}" alt="" class="img-fluid">
          </div>
          <h3><a href="{% url 'home' %}" class="stretched-link">{{ item.title }}</a></h3>
          <p>{{ item.content }}</p>
        </div>
      </div><!-- End Card Item -->
      {% empty %}
      <span class="mx-auto text-primary text-center">No services uploaded</span>
      {% endfor %}
    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

      <div class="col-md-5">
        <img src="{% static 'img/features-1.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7">
        <h3>
          We ship products to people, delivering it to them at a cheaper rate and faster than any other competitor.
        </h3>
        <p class="fst-italic">
          we have a saying that inspires whoever we encounter
        </p>
        <ul>
          <li><i class="bi bi-check"></i> Be happy.</li>
          <li><i class="bi bi-check"></i> Keep it simple</li>
          <li><i class="bi bi-check"></i> Always keep pushing, the result is near.</li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="{% static 'img/features-2.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1">
        <h3>
          We make buying from us easy, convenient and affordable. We deliver to you directly from our warehouse at a lower rate with faster delivery times than the competition.
        </h3>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      <div class="col-md-5">
        <img src="{% static 'img/features-3.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7">
        <h3>There are three things that we are best at</h3>
        <ul>
          <li><i class="bi bi-check"></i> We are the best</li>
          <li><i class="bi bi-check"></i> We are also the best</li>
          <li><i class="bi bi-check"></i> We are finally the best</li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      <div class="col-md-5 order-1 order-md-2">
        <img src="{% static 'img/features-4.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-2 order-md-1">
        <h3>
          MIMIvite is a next generation logistics company that is disrupting the industry. The platform allows for quick and easy shipping to over 50 countries with options for tracking and delivery confirmation.
        </h3>
      </div>
    </div><!-- Features Item -->

  </div>
</section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

{% endblock %}