{% extends 'layout/main.html' %}
{% load static %}

{% block main %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center"
    style="background-image: url('{% static 'img/page-header.jpg' %}');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Team</h2>
          <p>
            We are the best people to ship your products. We can safely and quickly get it delivered to you with a cheap price.
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Team</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team pt-0">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <span>Our Team</span>
      <h2>Our Team</h2>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      {% for item in team %}
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="member">
          <img src="{{ item.profile.url }}" class="img-fluid" alt="profile" />
          <div class="member-content">
            <h4>{{ item.user.first_name }} {{ item.user.last_name }}</h4>
            <span>{{ item.proffession }}</span>
            <span>{{ item.reg_number }}</span>
            <p>
              {{ item.content }}
            </p>
          </div>
        </div>
      </div><!-- End Team Member -->
      {% empty %}
      <span class="mx-auto text-primary text-center">No Teams</span>
      {% endfor %}
    </div>

  </div>
</section><!-- End Our Team Section -->

{% endblock %}